<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Vue入门</title>
  </head>
  <body>
    <div id="app">
     <ul>
     	<li v-for="product in products">
     		 {{product.quantity}}  {{product.name}}
         <span v-if="product.quantity === 0">
           - OUT OF STOCK
         </span>
         <button @click="product.quantity += 1">
           add
         </button>
     	</li>
    </ul>
    <h2>Total Inventory: {{totalProducts}} </h2>
    </div>
  </body>

<!--引入vue库-->
<!-- <script src='https://unpkg.com/vue/dist/vue.js'></script> -->
<script src="./vue.js"> </script>
<script>
    const app = new Vue({
        el:'#app',//'el'是元素（element）的缩写
        data:{
            products:[]
        },//将数据放入一个对象
		computed:{
			totalProducts(){
				return this.products.reduce((sum, product) => {
					return sum + product.quantity
				}, 0)
			}
		},
        created(){
          fetch('https://api.myjson.com/bins/k6wjm')//接口网址
          .then(response => response.json())
          .then(json=>{
            this.products =json.products
            //console.log(json);
          })
      }
    })
</script>

</html>
